body {
	background-color: grey;
}

/* I want for the main content to be centered */
/* but putting it in something apparently doesn't work */
.center_wrapper {
	border: white;
	width: 100%;
	text-align: center;
}

.left_wrapper {
	text-align: left;
}
/* end main content centering attempt */

.header_footer {
	color: white;
	background-color: #02315c;
	width = 100%;
	text-align = center;
	padding: 5;
	clear: both;
}

.nav {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

.nav li {
	display: inline-block;
	margin-left: 40;
	margin-right: 40;
}

.header_footer_entry_left {
	float: left;
	clear: none;

}

.header_footer_entry_middle {
	text-align: center;
	clear: none;
	float: 
}



.header_footer_entry_right {
	float:right;
	clear: none;
}

.header_footer_link {
	color: white;
}


.body_content_title {
	display: flex;
	align-items: flex-end;
	text-align: center;	
	clear: both;
}

.body_content_title_image {
	float: left;
}

.body_content_title_text {
}

.body_content_main {
	clear: both;
}

